body {
  background-color: black;
  color: white;
  padding: 1vh 2vw;
}

body>div {
  display: flex;
}

a {
  color: white;
}

header {
  display: flex;
  align-items: center;
}

main {
  width: 66vw;
}

aside {
  width: 33vw;
}

article>img {
  width: 100%;
}